{% extends "main.html.twig" %}

{% block title %}{{ 'profile.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% block before_card %}{% endblock %}

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% block profile_active %}{% endblock %}" href="{{ path('profile')}}"><i class="far fa-id-card"></i> {{ 'profile.label'|trans }}</a>
                </li>
                {% if is_granted('use_2fa') %}
                <li class="nav-item">
                    <a class="nav-link {% block twofa_active %}{% endblock %}" href="{{ path('two_factor') }}"><i class="fas fa-user-shield"></i> {{ 'two_factor.label'|trans }}</a>
                </li>
                {% endif %}
                {% if is_granted('change_password') %}
                <li class="nav-item">
                    <a class="nav-link {% block password_active %}{% endblock %}" href="{{ path('profile_password') }}"><i class="fas fa-key"></i> {{ 'profile.change_password.label'|trans }}</a>
                </li>
                {% endif %}
            </ul>
        </div>

        {% block card_body %}{% endblock %}
    </div>

    {% block profile_content %}{% endblock %}
{% endblock %}