{% extends "profile/_main.html.twig" %}

{% block title %}{{ 'profile.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block password_active %}active{% endblock %}

{% block before_card %}
    {% if can_change_password %}
        {{ form_start(form) }}
    {% endif %}
{% endblock %}

{% block card_body %}
    <div class="card-body">
        {% if not can_change_password %}
            <div class="bs-callout bs-callout-info">
                <h4>{{ 'info.label'|trans }}</h4>
                <p>{{ 'info.attribute_must_change_in_ad'|trans }}</p>
            </div>
        {% else %}
            {% if user.mustChangePassword %}
                <div class="bs-callout bs-callout-danger">
                    <h4><i class="fas fa-key"></i> {{ 'profile.must_change_password.label'|trans }}</h4>
                    <p>{{ 'profile.must_change_password.message'|trans }}</p>
                </div>
            {% endif %}

            {{ form_widget(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block profile_content %}
    {% if can_change_password %}
        <div class="buttons">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}