{% extends "main.html.twig" %}

{% block title %}{{ 'profile.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% if user.mustChangePassword %}
        <div class="bs-callout bs-callout-danger">
            <h4><i class="fas fa-key"></i> {{ 'profile.must_change_password.label'|trans }}</h4>
            <p>{{ 'profile.must_change_password.message'|trans }}</p>
        </div>
    {% endif %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>
    </div>
    {{ form_end(form) }}


{% endblock %}