{% extends "profile/_main.html.twig" %}

{% block title %}{{ 'profile.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block profile_active %}active{% endblock %}

{% block before_card %}
    {{ form_start(form) }}
{% endblock %}

{% block card_body %}
    <div class="card-body">
        {% for child in form.children %}
            {% if child.vars.name != 'group_attributes' %}
            {{ form_row(child) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block profile_content %}
    {{ form_row(form.group_attributes) }}

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>
    </div>
    {{ form_end(form) }}


{% endblock %}