{% extends "@Common/form.html.twig" %}

{% block form_label_errors %}{% endblock %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        <div class="mb-3 row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
                {{- form_help(form) -}}
            </div>
            {##}</div>
    {%- endif -%}
{%- endblock form_row %}

{%- block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}

    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="form-text text-muted">{{ attrvalue|trans }}</span>{% endif %}
    {% endfor %}
{%- endblock form_widget_simple -%}

{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}

    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="form-text text-muted">{{ attrvalue|trans }}</span>{% endif %}
    {% endfor %}
{%- endblock choice_widget -%}

{% block burgov_key_value_row_widget %}
    <div class="form-inline mb-1">
        <div class="input-group">
            {{ form_widget(form.key, { attr: { placeholder: form.key.vars.label }}) }}
            {{ form_widget(form.value, { attr: { placeholder: form.value.vars.label }}) }}

            <button class="btn btn-danger btn-delete" type="button"><i class="fas fa-trash"></i></button>
        </div>
    </div>
{% endblock %}

{% block date_widget %}
    {% if form.vars.is_custom is defined %}
    <div class="input-group">
        {{- parent() -}}
        <button type="button" class="btn btn-secondary" onclick="$(this).closest('.input-group').find('input[type=date]').val();">
            {{ 'datepicker.null'|trans }}
        </button>
    </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock %}

{% block readonly_text_widget %}
    {% if form.vars.data is not empty %}
    <input id="{{ form.vars.id }}" readonly class="form-control-plaintext" value="{{ form.vars.data }}">
    {% else %}
        <div class="form-control-plaintext">
            <span class="badge text-bg-secondary">{{ 'label.not_specified'|trans}}</span>
        </div>
    {% endif %}

    {% set help = attr.help %}
    {{ block('form_help') }}
{% endblock %}

{% block code_generator_widget %}
    <div class="input-group">
        {{ block('form_widget_simple') }}

        <button class="btn btn-outline-secondary" type="button" data-trigger="generate-code" data-target="#{{ form.vars.id }}">
            <i class="fa fa-random"></i>
        </button>
    </div>
{% endblock %}

{% block text_suffix_widget %}
    <div class="input-group mb-3">
        {{ block('form_widget_simple') }}

        <span class="input-group-text">{{ form.vars.suffix }}</span>
    </div>
{% endblock %}

{% block text_prefix_widget %}
    <div class="input-group mb-3">
        <span class="input-group-text">{{ form.vars.prefix }}</span>

        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{%- block markdown_widget -%}
    {{ block('textarea_widget') }}
{%- endblock -%}

{% block icon_picker_widget %}
    <div class="input-group">
        <span class="input-group-text" id="icon_{{ form.vars.id }}"> </span>

        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{%- block text_collection_entry_widget -%}
    <div class="mb-2">
        <div class="input-group">
            {{ form_widget(form) }}

            <button type="button" class="btn btn-danger btn-sm btn-delete float-right" data-selector=".input-group">
                <i class="fa fa-trash"></i>
            </button>
        </div>

        {{ form_errors(form) }}
    </div>
{%- endblock -%}