{% extends "@Common/form.html.twig" %}

{% block form_label_errors %}{% endblock %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
                {{- form_help(form) -}}
            </div>
            {##}</div>
    {%- endif -%}
{%- endblock form_row %}

{%- block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}

    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="form-text text-muted">{{ attrvalue|trans }}</span>{% endif %}
    {% endfor %}
{%- endblock form_widget_simple -%}

{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}

    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="form-text text-muted">{{ attrvalue|trans }}</span>{% endif %}
    {% endfor %}
{%- endblock choice_widget -%}

{% block burgov_key_value_row_widget %}
    <div class="form-inline mb-1">
        <div class="input-group">
            {{ form_widget(form.key, { attr: { placeholder: form.key.vars.label }}) }}
            {{ form_widget(form.value, { attr: { placeholder: form.value.vars.label }}) }}

            <div class="input-group-append">
                <button class="btn btn-danger btn-delete" type="button"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block date_widget %}
    {% if form.vars.is_custom is defined %}
    <div class="input-group">
        {{- parent() -}}
        <div class="input-group-append">
            <button type="button" class="btn btn-secondary" onclick="$(this).closest('.input-group').find('input[type=date]').val();">
                {{ 'datepicker.null'|trans }}
            </button>
        </div>
    </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock %}

{% block readonly_text_widget %}
    <input id="{{ form.vars.id }}" readonly class="form-control-plaintext" value="{{ form.vars.data }}">

    {% set help = attr.help %}
    {{ block('form_help') }}
{% endblock %}