{% use "bootstrap_4_horizontal_layout.html.twig" %}

{%- block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}

    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="form-text text-muted">{{ attrvalue|trans }}</span>{% endif %}
    {% endfor %}
{%- endblock form_widget_simple -%}

{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}

    {% for attrname,attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="form-text text-muted">{{ attrvalue|trans }}</span>{% endif %}
    {% endfor %}
{%- endblock choice_widget -%}

{% block choice_widget_collapsed -%}
    {{- parent() -}}

    {% if multiple %}
        <span class="form-text text-muted">{{ 'form.multiple_help'|trans }}</span>

        <button type="button" class="btn btn-secondary btn-sm" onclick="$('#{{ id }} option').prop('selected', true);">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> {{ 'form.select_all'|trans }}
        </button>

        <button type="button" class="btn btn-secondary btn-sm" onclick="$('#{{ id }} option').prop('selected', false);">
            <i class="fa fa-square-o" aria-hidden="true"></i> {{ 'form.unselect_all'|trans }}
        </button>
    {% endif %}
{%- endblock choice_widget_collapsed %}

{% block fieldset_row %}
    <div class="contentbox">
        {% if legend is defined and legend is not empty %}
            <h4>{{ legend | trans({}, translation_domain) }}</h4>
        {% endif %}

        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block burgov_key_value_row_widget %}
    <div class="form-inline">
        {{ form_widget(form.key, { attr: { placeholder: form.key.vars.label }}) }}
        {{ form_widget(form.value, { attr: { placeholder: form.key.vars.label }}) }}

        <button class="btn btn-danger btn-delete" type="button"><i class="fa fa-trash"></i></button>
    </div>
{% endblock %}

{% block date_widget %}
    {% if form.vars.is_custom is defined %}
    <div class="input-group">
        {{- parent() -}}
        <div class="input-group-append">
            <button type="button" class="btn btn-secondary" onclick="$(this).closest('.input-group').find('input[type=date]').val();">
                {{ 'datepicker.null'|trans }}
            </button>
        </div>
    </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock %}