{% extends "main.html.twig" %}

{% block title %}{% if type == "App\\Entity\\SamlServiceProvider" %}{{ 'service_providers.add.label.saml'|trans }}{% else %}{{ 'service_providers.add.label.default'|trans }}{% endif %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('service_providers') }}">{{ 'service_providers.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/metadata.js') }}"></script>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {% if form.entityId is defined %}
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2" for="metadata-url">
                        {{ 'label.metadata.label'|trans }}
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input id="metadata-url" class="form-control" type="url" inputmode="url">
                            <button type="button" data-trigger="metadata-xml"
                                    class="btn btn-outline-primary"
                                    data-input-id="metadata-url"
                                    data-endpoint="{{ url('load_xml_metadata') }}"
                                    data-url-id="{{ form.url.vars.id }}"
                                    data-entityid-id="{{ form.entityId.vars.id }}"
                                    data-acs-id="{{ form.acs.vars.id }}"
                                    data-cert-id="{{ form.certificate.vars.id }}">
                                <i class="fas fa-download"></i> {{ 'label.metadata.download'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ form_widget(form) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('service_providers') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}


{% endblock %}