{% extends "main.html.twig" %}

{% block title %}{{ 'service_providers.edit.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('service_providers') }}">{{ 'service_providers.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ service_provider.name }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {% for child in form %}
                {% if child.vars.name != "acsUrls" %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if form.acsUrls is defined %}
    <div class="card">
        <div class="card-header">{{ 'label.acs'|trans }}</div>
        <div class="card-body">
            <div class="acs" data-collection="acs" data-prototype="{{ form_widget(form.acsUrls.vars.prototype)|e('html_attr') }}">
                {% for child in form.acsUrls %}
                    {{ form_widget(child) }}
                {% endfor %}

                {{ form_help(form.acsUrls) }}
                {{ form_errors(form.acsUrls) }}
                {% do form.acsUrls.setRendered %}
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="acs">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>
    {% endif %}

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('service_providers') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}


{% endblock %}