{% extends "main.html.twig" %}

{% block title %}{{ 'service_providers.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table">
                            <colgroup>
                                <col>
                                <col>
                                <col class="column-sm">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.url'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for service in service_providers %}
                                <tr>
                                    <td class="align-middle">
                                        {{ service.name }}

                                        {% if service is instanceof('App\\Entity\\SamlServiceProvider') %}
                                            <span class="badge text-bg-primary">{{ 'service_providers.type.saml'|trans }}</span>
                                        {% else %}
                                            <span class="badge text-bg-primary">{{ 'service_providers.type.default'|trans }}</span>
                                        {% endif %}

                                        <p><small>{{ service.description }}</small></p>
                                    </td>
                                    <td class="align-middle">{{ service.url }}</td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('edit_service_provider', { uuid: service.uuid }) }}" class="dropdown-item">
                                                    <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                </a>

                                                <a href="{{ path('remove_service_provider', { uuid: service.uuid }) }}" class="dropdown-item text-danger">
                                                    <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                </a>

                                                {% if service.certificate is defined %}
                                                    <div class="dropdown-divider"></div>

                                                    <a href="{{ path('service_provider_certificate', { uuid: service.uuid }) }}" class="dropdown-item">
                                                        <i class="fa fa-info-circle"></i> {{ 'service_providers.certificate_info'|trans }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_service_provider') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'service_providers.add.label.default'|trans }}
                        </a>
                        <a href="{{ path('add_service_provider') }}?type=saml" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'service_providers.add.label.saml'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}
                        </h5>

                        <p>
                            {{ 'service_providers.help'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}