{% extends "main.html.twig" %}

{% block title %}{{ 'service_providers.token.regenerate.label'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="contentbox">
        <h4>{{ 'service_providers.token.regenerate.label'|trans }}</h4>

        <div class="bs-callout bs-callout-danger">
            <h4><i class="fa fa-exclamation-triangle"></i> {{ 'caution'|trans }} <i class="fa fa-exclamation-triangle"></i></h4>
            <p>{{ 'service_providers.token.regenerate.help'|trans }}</p>
        </div>

        {{ form_row(form.group_general.confirm) }}
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-danger">
            <i class="fa fa-refresh"></i> {{ 'service_providers.token.regenerate.submit'|trans }}
        </button>

        <a href="{{ path('service_providers') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}


{% endblock %}