{% extends "main.html.twig" %}

{% block title %}{{ 'applications.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-wrap mt-n2">
                            <div class="flex-fill mt-2">

                            </div>

                            <div class="ms-auto mt-2">
                                <a href="{{ path('add_application') }}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-plus"></i> {{ 'applications.add.label'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table">
                            <colgroup>
                                <col >
                                <col class="column-320" >
                                <col class="column-sm" >
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.api_key'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for app in applications %}
                                <tr>
                                    <td class="align-middle">
                                        {{ app.name }}
                                        <p><small>{{ app.description }}</small></p>
                                    </td>
                                    <td class="align-middle">
                                        {{ app.apiKey }}
                                    </td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('edit_application', { uuid: app.uuid }) }}" class="dropdown-item">
                                                    <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                </a>

                                                <a href="{{ path('remove_application', { uuid: app.uuid }) }}" class="dropdown-item text-danger">
                                                    <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}
                        </h5>

                        <p>
                            {{ 'applications.help'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}