{% extends "main.html.twig" %}

{% block title %}{{ 'ad_sync_options.roles.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('ad_sync_options') }}">{{ 'ad_sync_options.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-wrap mt-n2">
                            <div class="flex-fill mt-2"></div>
                            <div class="ms-auto mt-2">
                                <a href="{{ path('add_ad_roles_sync_options') }}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-plus"></i> {{ 'ad_sync_options.grades.add.label'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table">
                            <colgroup>
                                <col class="column-lg">
                                <col>
                                <col class="column-sm">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.user_role'|trans }}</th>
                                <th>{{ 'label.source'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for option in sync_options %}
                                <tr>
                                    <td class="align-middle">
                                        {{ option.userRole.name }}
                                    </td>
                                    <td class="align-middle">
                                        <span class="badge text-bg-primary">{% if option.sourceType == 'ou' %}{{ 'label.ou'|trans }}{% else %}{{ 'label.ad_group'|trans }}{% endif %}</span><br>
                                        {{ option.source }}
                                    </td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('edit_ad_role_sync_options', { uuid: option.uuid }) }}" class="dropdown-item">
                                                    <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                </a>

                                                <a href="{{ path('remove_ad_role_sync_options', { uuid: option.uuid }) }}" class="dropdown-item text-danger">
                                                    <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}
                        </h5>

                        <p>
                            {{ 'ad_sync_options.roles.help'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}