{% extends "main.html.twig" %}

{% block title %}{{ 'ad_sync_options.roles.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('ad_sync_options') }}">{{ 'ad_sync_options.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered card-table">
                            <colgroup>
                                <col class="column-lg">
                                <col>
                                <col class="column-md">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.user_role'|trans }}</th>
                                <th>{{ 'label.source'|trans }}</th>
                                <th>{{ 'actions.label'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for option in sync_options %}
                                <tr>
                                    <td class="align-middle">
                                        {{ option.userRole.name }}
                                    </td>
                                    <td class="align-middle">
                                        <span class="badge badge-primary">{% if option.sourceType == 'ou' %}{{ 'label.ou'|trans }}{% else %}{{ 'label.ad_group'|trans }}{% endif %}</span><br>
                                        {{ option.source }}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ path('edit_ad_role_sync_options', { uuid: option.uuid }) }}" class="btn btn-sm btn-primary" title="{{ 'actions.edit'|trans }}">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="{{ path('remove_ad_role_sync_options', { uuid: option.uuid }) }}" class="btn btn-sm btn-danger" title="{{ 'actions.remove'|trans }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_ad_roles_sync_options') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'ad_sync_options.grades.add.label'|trans }}
                        </a>

                        <a href="{{ path('ad_sync_options') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-arrow-left"></i> {{ 'actions.back'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}
                        </h5>

                        <p>
                            {{ 'ad_sync_options.roles.help'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}