{% extends "main.html.twig" %}

{% block title %}{{ 'two_factor.google.enable.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('profile') }}">{{ 'profile.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('two_factor') }}">{{ 'two_factor.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ 'two_factor.google.enable.step_one.label'|trans }}</div>

        <div class="card-body">
            <p>{{ 'two_factor.google.enable.step_one.info'|trans }}</p>

            <img src="{{ qr_code_data_uri(qrContent) }}" >

            <div class="mb-3">
                <label class="control-label col-md-2">
                    {{ 'two_factor.google.enable.step_one.secret'|trans }}
                </label>
                <span class="col-md-10">
                    {{ secret }}
                </span>
            </div>
        </div>
    </div>

    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'two_factor.google.enable.step_two.label'|trans }}</div>

        <div class="card-body">
            <p class="card-text">{{ 'two_factor.google.enable.step_two.info'|trans }}</p>

            {{ form_widget(form) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-success">
            <i class="fas fa-check"></i> {{ 'two_factor.enable'|trans }}
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}