{% extends "main.html.twig" %}

{% block title %}{{ 'two_factor.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% if isTrustedDevice %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ 'info.label'|trans }}</h4>
            <p>{{ 'scheb_two_factor.trusted'|trans }}</p>
        </div>
    {% endif %}

    <div class="card-deck">
        <div class="card {% if isGoogleEnabled %}border-success{% else %}border-danger{% endif %}">
            <div class="card-header text-white {% if isGoogleEnabled %}bg-success{% else %}bg-danger{% endif %}">
                {{ 'two_factor.google.label'|trans }}

                {% if isGoogleEnabled %}
                    <span class="badge badge-success"><i class="fas fa-check"></i> {{ 'two_factor.enabled'|trans }}</span>
                {% else %}
                    <span class="badge badge-danger"><i class="fas fa-times"></i> {{ 'two_factor.disabled'|trans }}</span>
                {% endif %}
            </div>

            <div class="card-body">
                {% if isGoogleEnabled %}
                <h5 class="card-title">{{ 'two_factor.google.backup.label'|trans }}</h5>
                <p class="card-text">
                    {{ 'two_factor.google.backup.info'|trans }}
                </p>

                <ul>
                    {% for code in backupCodes %}
                        <li>{{ code }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p class="card-text">{{ 'two_factor.google.disabled'|trans }}</p>
                {% endif %}
            </div>

            <div class="card-footer clearfix">
                {% if isGoogleEnabled %}
                <form action="{{ path('disable_google_two_factor') }}" method="post" class="float-left form-inline">
                    <input type="hidden" name="_csrf_token" value="{{ csrfToken.value }}" />

                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fas fa-times"></i> {{ 'two_factor.disable'|trans }}
                    </button>
                </form>

                <form action="{{ path('regenerate_backup_codes') }}" method="post" class="float-left form-inline" style="margin-left: 10px">
                    <input type="hidden" name="_csrf_token" value="{{ csrfToken.value }}" />

                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-refresh"></i> {{ 'two_factor.google.backup.regenerate'|trans }}
                    </button>
                </form>
                {% else %}
                    <a href="{{ path('enable_google_two_factor') }}" class="btn btn-success btn-sm">
                        <i class="fas fa-check"></i> {{ 'two_factor.enable'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="card {% if isU2fEnabled %}border-success{% else %}border-danger{% endif %}">
            <div class="card-header text-white {% if isU2fEnabled %}bg-success{% else %}bg-danger{% endif %}">
                {{ 'two_factor.u2f.label'|trans }}

                {% if isU2fEnabled %}
                    <span class="badge badge-success"><i class="fas fa-check"></i> {{ 'two_factor.enabled'|trans }}</span>
                {% else %}
                    <span class="badge badge-danger"><i class="fas fa-times"></i> {{ 'two_factor.disabled'|trans }}</span>
                {% endif %}
            </div>

            <div class="card-body">
                <ul>
                    {% for key in u2fKeys %}
                    <li>{{ key.name }} <a href="{{ path('remove_u2f_device', { id: key.id }) }}" class="btn btn-sm btn-danger" title="{{ 'two_factor.u2f.remove.label'|trans }}"><i class="fas fa-trash"></i> </a> </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-footer">
                <a href="{{ path('club_base_register_u2f') }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus"></i> {{ 'two_factor.u2f.enable.label'|trans }}
                </a>
            </div>
        </div>
    </div>

{% endblock %}