{% extends "profile/_main.html.twig" %}

{% block title %}{{ 'two_factor.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('profile') }}">{{ 'profile.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block twofa_active %}active{% endblock %}

{% block card_body %}
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}</h5>

        <p>{{ 'two_factor.google.help'|trans }}</p>

        <a href="{{ 'two_factor.google.url.href'|trans }}" class="btn btn-primary btn-sm">
            <i class="fas fa-external-link-alt"></i> {{ 'two_factor.google.url.label'|trans }}
        </a>
    </div>
{% endblock %}

{% block profile_content %}
    <div class="card {% if isGoogleEnabled %}border-success{% else %}border-danger{% endif %}">
        <div class="card-header text-white {% if isGoogleEnabled %}bg-success{% else %}bg-danger{% endif %}">
            {{ 'two_factor.google.label'|trans }}

            {% if isGoogleEnabled %}
                <span class="badge text-bg-success"><i class="fas fa-check"></i> {{ 'two_factor.enabled'|trans }}</span>
            {% else %}
                <span class="badge text-bg-danger"><i class="fas fa-times"></i> {{ 'two_factor.disabled'|trans }}</span>
            {% endif %}
        </div>

        <div class="card-body">
            {% if isGoogleEnabled %}
                <h5 class="card-title">{{ 'two_factor.google.backup.label'|trans }}</h5>
                <p class="card-text">
                    {{ 'two_factor.google.backup.info'|trans }}
                </p>

                <ul>
                    {% for code in backupCodes %}
                        <li>{{ code }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="card-text">{{ 'two_factor.google.disabled'|trans }}</p>
            {% endif %}
        </div>

        <div class="card-footer clearfix">
            {% if isGoogleEnabled %}
                <form action="{{ path('disable_google_two_factor') }}" method="post" class="float-start form-inline me-1">
                    <input type="hidden" name="_csrf_token" value="{{ csrfToken.value }}" >

                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fas fa-times"></i> {{ 'two_factor.disable'|trans }}
                    </button>
                </form>

                <form action="{{ path('regenerate_backup_codes') }}" method="post" class="float-start form-inline ms-0 me-1" style="margin-left: 10px">
                    <input type="hidden" name="_csrf_token" value="{{ csrfToken.value }}" >

                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-refresh"></i> {{ 'two_factor.google.backup.regenerate'|trans }}
                    </button>
                </form>
            {% else %}
                <a href="{{ path('enable_google_two_factor') }}" class="btn btn-success btn-sm">
                    <i class="fas fa-check"></i> {{ 'two_factor.enable'|trans }}
                </a>
            {% endif %}

            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" class="btn btn-outline-secondary btn-sm" target="_blank">
                <i class="fab fa-android"></i> Play Store
            </a>

            <a href="http://appstore.com/googleauthenticator" class="btn btn-outline-secondary btn-sm" target="_blank">
                <i class="fab fa-apple"></i> App Store
            </a>
        </div>
    </div>
{% endblock %}

{#
{% block content %}



    <div class="card">

    </div>

    <div class="card-deck">

    </div>

{% endblock %}#}