{% extends "main.html.twig" %}

{% block title %}{{ 'two_factor.u2f.remove.label'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
        </button>

        <a href="{{ path('two_factor') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}


{% endblock %}