{% extends "main.html.twig" %}

{% block title %}{{ 'authentication_audit.label'|trans }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
    <li class="breadcrumb-item">{{ block('title') }}</li>
</ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-wrap mt-n2">
                            <div class="flex-fill mt-2">
                                <form class="row row-cols-lg-auto g-1 align-items-center" method="get">
                                    <div class="col">
                                        <input type="text" name="username" class="form-control form-control-sm" value="{{ username }}" placeholder="{{ 'label.username'|trans }}">
                                    </div>

                                    <div class="col">
                                        <input type="text" name="request_id" class="form-control form-control-sm" value="{{ requestId }}" placeholder="{{ 'authentication_audit.request_id'|trans }}">
                                    </div>

                                    <div class="col">
                                        <select class="form-select form-select-sm" name="country" data-trigger="submit">
                                            <option value="">{{ 'authentication_audit.country'|trans }}</option>
                                            {% for c in countries %}
                                                <option value="{{ c }}" {% if c == country %} selected{% endif %}>{{ c }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    {% if username is not empty or requestId is not empty or country is not empty %}
                                        <div class="col">
                                            <a href="{{ path('authentication_audit') }}" class="btn btn-outline-primary btn-sm">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>

                            <div class="ms-auto mt-2">

                            </div>
                        </div>
                    </div>

                    <table class="table table-hover table-striped card-table">
                        <colgroup></colgroup>

                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'authentication_audit.type.label'|trans }}</th>
                            <th>{{ 'label.username'|trans }}</th>
                            <th>{{ 'authentication_audit.ip_address'|trans }}</th>
                            <th>{{ 'authentication_audit.country'|trans }}</th>
                            <th>{{ 'authentication_audit.timestamp'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    <div class="pointer" data-toggle="table-collapse" data-target="#audit-detail-{{ item.id }}">
                                        <i class="fa fa-chevron-down indicator"></i>
                                    </div>
                                </td>
                                <td>
                                    {% if item.type.value == 'login' %}
                                        <i class="fas fa-sign-in-alt" title="{{ 'authentication_audit.type.login'|trans }}"></i>
                                    {% elseif item.type.value == 'logout' %}
                                        <i class="fas fa-sign-out-alt" title="{{ 'authentication_audit.type.logout'|trans }}"></i>
                                    {% elseif item.type.value == 'error' %}
                                        <i class="fas fa-triangle-exclamation text-danger" title="{{ 'authentication_audit.type.error'|trans }}"></i>
                                    {% elseif item.type.value == 'switch_user' %}
                                        <i class="fa-solid fa-shuffle" title="{{ 'authentication_audit.type.switch_user'|trans }}"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.username is not empty %}
                                        {{ item.username }}
                                    {% else %}
                                        <span class="badge text-bg-secondary">N/A</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.ipAddress is not empty %}
                                        {{ item.ipAddress }}


                                    {% else %}
                                        <span class="badge text-bg-secondary">N/A</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.ipCountry is not empty %}
                                        {{ item.ipCountry }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ item.createdAt|format_datetime }}
                                </td>

                            </tr>
                            <tr id="audit-detail-{{ item.id }}" class="collapse">
                                <td colspan="6">
                                    <p>
                                        <span class="text-muted">{{ 'authentication_audit.authenticator'|trans }}</span>

                                        {% if item.authenticatorFqcn is not empty %}
                                            <pre>{{ item.authenticatorFqcn }}</pre>
                                        {% else %}
                                            <span class="badge text-bg-secondary">N/A</span>
                                        {% endif %}
                                    </p>

                                    <p>
                                        <span class="text-muted">{{ 'authentication_audit.token'|trans }}</span>

                                        {% if item.tokenFqcn is not empty %}
                                            <pre>{{ item.tokenFqcn }}</pre>
                                        {% else %}
                                            <span class="badge text-bg-secondary">N/A</span>
                                        {% endif %}
                                    </p>

                                    <p>
                                        <span class="text-muted">{{ 'authentication_audit.firewall'|trans }}</span>

                                        {% if item.firewall is not empty %}
                                            <pre>{{ item.firewall }}</pre>
                                        {% else %}
                                            <span class="badge text-bg-secondary">N/A</span>
                                        {% endif %}
                                    </p>

                                    <p>
                                        <span class="text-muted">{{ 'authentication_audit.message'|trans }}</span>

                                        {% if item.message is not empty %}
                                            {{ item.message }}
                                        {% else %}
                                            <span class="badge text-bg-secondary">N/A</span>
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="card-footer">
                        <div class="d-flex">
                            <div class="flex-fill align-self-center"></div>

                            <div class="ms-auto">
                                {% include '@Common/includes/pagination.html.twig' with {
                                    currentPage: page,
                                    currentFilters: { request_id: requestId, username: username, country: country },
                                    paginationPath: 'authentication_audit',
                                    lastPage: pages,
                                    showAlwaysFirstAndLast: true
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}