{% extends "@Common/simple/main.html.twig" %}

{% block title %}{{ service.name }}{% endblock %}

{% block container_css %}redirect{% endblock %}

{% block content %}
    <div class="text-center">
        <i class="fas fa-sign-in fa-3x d-block text-secondary"></i>
        <h4>{{ 'sso.redirect.title'|trans }}</h4>
        <p>{{ 'sso.redirect.message'|trans({'%service%': service.name}) }}</p>
    </div>

    <hr />

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-6 pl-0">
                {% block redirect %}{% endblock %}
            </div>
            <div class="col-md-6 pr-0">
                <a href="{{ path('dashboard') }}" class="btn btn-secondary btn-block">{{ 'actions.cancel'|trans }}</a>
            </div>
        </div>
    </div>

{% endblock %}