{% extends "main.html.twig" %}

{% block title %}{{ 'service_attributes.edit.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('attributes') }}">{{ 'service_attributes.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ attribute.name }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.group_general) }}

    <div class="card">
        <div class="card-header">{{ 'label.options'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.group_select.isMultipleChoice ) }}

            <div class="form-group row">
                {{ form_label(form.group_select.options) }}

                <div class="col-md-10">
                    <div class="options" data-prototype="{{ form_widget(form.group_select.options.vars.prototype)|e('html_attr') }}">
                        {% for option in form.group_select.options %}
                            {{ form_widget(option) }}
                        {% endfor %}
                    </div>

                    <a href="#" class="btn btn-primary btn-sm btn-add-option"><i class="fas fa-plus"></i> {{ 'service_attributes.add_option'|trans }}</a>

                    {{ form_errors(form.group_select.options) }}
                </div>

                <!-- {{ form_row(form.group_select.options) }} -->
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('attributes') }}" class="btn btn-sm btn-secondary">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block post_javascript %}
    <script type="text/javascript" src="{{ asset('build/attributes.js') }}"></script>
{% endblock %}