{% extends "auth/main.html.twig" %}

{% block content %}

    {% if loginSettings.loginMessage is not empty %}
        <div class="bs-callout bs-callout-info">
            <h5><i class="fas fa-info-circle"></i> {{ 'info.label'|trans }}</h5>

            {{ loginSettings.loginMessage|markdown_to_html }}
        </div>
    {% endif %}

    <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">

        {% include "auth/errors.html.twig" %}

        {% if error %}
            <div class="bs-callout bs-callout-danger">
                <h5 class="card-title"><i class="fas fa-exclamation-circle"></i> {{ 'error.label'|trans }}</h5>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">{{ 'label.username'|trans }}</label>
            <input type="email" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" autofocus>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{{ 'label.password'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" required="required">
        </div>

        {% if supportsRememberMe|default(false) %}
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="_remember_me" value="true" id="remember_me">
                <label class="form-check-label" for="remember_me">{{ 'auth.remember_me'|trans }}</label>
            </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="container-fluid px-0">
            <div class="row mb-3">
                <div class="col-md-6">
                    <button class="btn btn-primary w-100" type="submit">{{ 'label.signin'|trans }}</button>
                </div>

                {% if supportsForgotPassword|default(false) %}
                    <div class="col-md-6">
                        <a href="{{ path('forgot_password') }}" class="btn btn-secondary w-100" role="button">{{ 'auth.lost_pw'|trans }}</a>
                    </div>
                {% endif %}
            </div>

            {% block buttons %}{% endblock %}
        </div>
    </form>

    <hr>

    <form class="form-signin" method="post" action="{{ path('redeem_registration_code') }}">
        <div class="mb-3">
            <label for="code" class="form-label">{{ 'label.code'|trans }}</label>

            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-qrcode"></i>
                </span>
                <input type="text" id="code" name="code" class="form-control" required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}">

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary w-100">
                    {{ 'register.redeem.label'|trans({}, 'security') }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}