{% for msg in app.session.flashbag.get('error') %}
    <div class="bs-callout bs-callout-danger">
        <h5><i class="fas fa-info-circle"></i> {{ 'error.label'|trans }}</h5>
        <p>{{ msg|trans }}</p>
    </div>
{% endfor %}

{% for msg in app.session.flashbag.get('info') %}
    <div class="bs-callout bs-callout-info">
        <h5><i class="fas fa-info-circle"></i> {{ 'info.label'|trans }}</h5>
        <p>{{ msg|trans }}</p>
    </div>
{% endfor %}

{% for msg in app.session.flashbag.get('success') %}
    <div class="bs-callout bs-callout-success">
        <h5><i class="fas fa-info-circle"></i> {{ 'success.label'|trans }}</h5>
        <p>{{ msg|trans }}</p>
    </div>
{% endfor %}