{% extends "auth/main.html.twig" %}

{% block content %}

    <div class="text-center">
        <i class="fas fa-key fa-3x d-block text-secondary"></i>
        <h4>{{ 'forgot_pw.label'|trans }}</h4>

        <p>{{ 'forgot_pw.request.message'|trans }}</p>
    </div>

    <hr >

    {% include 'auth/errors.html.twig' %}

    <form class="form-signin" role="form" action="{{ path('forgot_password') }}" method="post">
        {% if use_email %}
            <div class="mb-3">
                <label for="email" class="control-label">{{ 'label.email'|trans }}</label>
                <input type="email" id="email" name="_email" class="form-control" required="required" autofocus>
            </div>

            <div class="mb-3">
                <a  href="{{ path('forgot_password') }}">
                    {{ 'forgot_pw.request.email_unknown'|trans }}
                </a>
            </div>
        {% else %}
            <div class="mb-3">
                <label for="username" class="control-label">{{ 'label.username'|trans }}</label>
                <input type="email" id="username" name="_username" class="form-control" required="required" autofocus>
            </div>

            <div class="mb-3">
                <a  href="{{ path('forgot_password', { email: '✓'}) }}">
                    {{ 'forgot_pw.request.username_unknown'|trans }}
                </a>
            </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrfTokenId) }}" >

        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary w-100" type="submit">{{ 'forgot_pw.request.button'|trans }}</button>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('login') }}" class="btn btn-secondary w-100" role="button">{{ 'actions.cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}