{% extends "auth/main.html.twig" %}

{% block content %}

    <div class="text-center">
        <i class="fas fa-key fa-3x d-block text-secondary"></i>
        <h4>{{ 'forgot_pw.label'|trans }}</h4>

        <p>{{ 'forgot_pw.request.message'|trans }}</p>
    </div>

    <hr >

    {% include 'auth/errors.html.twig' %}

    <div class="bs-callout bs-callout-danger">
        <p>{{ error|trans }}</p>
    </div>

    <div class="container-fluid px-0">
        <div class="row mb-3">
            <div class="col-md-6">
                <a href="{{ path('forgot_password') }}" class="btn btn-primary w-100">
                    {{ 'forgot_pw.error.request_new_token'|trans }}
                </a>
            </div>

            <div class="col-md-6">
                <a href="{{ path('login') }}" class="btn btn-secondary w-100" role="button">{{ 'actions.cancel'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}