<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.name }}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ preload(asset('build/simple.css')) }}">
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body class="d-flex align-items-center">
<div class="container d-flex m-auto">
    <div class="row justify-content-center align-self-md-center mt-sm-4 mt-xs-4 w-100 mx-auto">
        <div class="col-xl-5 col-lg-6 col-md-9 col-sm-12 col-xs-12 mx-auto text-left pb-5">
            <header>
                <div class="title mx-auto p-0">
                    <h1>{% block title %}{{ 'auth.login'|trans }}{% endblock %}</h1>
                </div>
            </header>

            {% block error %}{% endblock %}

            {% block container %}
                <div class="card mb-4">
                    <div class="card-body">
                        {% block content %}{% endblock %}
                    </div>

                    {% if setting('helpdesk.mail') is not empty %}
                        <div class="card-footer">
                            <div class="d-block">
                                <i class="fas fa-question-circle"></i> {{ 'helpdesk'|trans({'%mail%': setting('helpdesk.mail') }, 'security') }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            <footer class="hidden-print">
                <div class="container-fluid px-0">
                    <div class="row">
                        {% if config.logo is defined and config.logo is not null %}
                            <div class="col-auto d-none d-sm-inline-flex">
                                <img src="{{ asset(config.logo) }}" class="logo" alt="" />
                            </div>
                        {% endif %}

                        <div class="col">
                            <h3>{{ config.name }}</h3>

                            <p>
                                {{ 'version'|trans({'%version%': config.version }) }}
                            </p>
                            <p>
                                © {{ "now"|date("Y") }} SchulIT {% if config.projectUrl is not null %} – <i class="fab fa-github"></i> <a href="{{ config.projectUrl }}" target="_blank">GitHub</a>{% endif %}{% block footer_links %}{% endblock %}
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

{% block javascript %}{% endblock %}

</body>
</html>