{% extends "auth/main.html.twig" %}

{% block content %}
    <div class="text-center">
        <i class="fas fa-mobile-phone fa-3x d-block text-secondary"></i>
        <h4>{{ 'two_factor.google.auth.label'|trans }}</h4>

        <p>{{ 'two_factor.google.auth.message'|trans }}</p>
    </div>

    <hr />

    {% if authenticationError %}
        <div class="bs-callout bs-callout-danger">
            <h4>{{ 'error.label'|trans }}</h4>
            <p>{{ "scheb_two_factor.code_invalid"|trans(authenticationErrorData) }}</p>
        </div>
    {% endif %}

    <form class="form-signin" method="post" action="{{ path('2fa_login_check') }}">
        <div class="form-group">
            <label class="control-label" for="auth_code">{{ "scheb_two_factor.auth_code"|trans }}</label>
            <input type="text" id="auth_code" name="_auth_code" class="form-control" autocomplete="off" required="required" autofocus />
        </div>

        {% if isCsrfProtectionEnabled %}
            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-block" type="submit">{{ "scheb_two_factor.login"|trans }}</button>
            </div>
            <div class="col-md-6">
                <a href="{{ path('logout') }}" class="btn btn-secondary btn-block" role="button">
                    {{ "scheb_two_factor.cancel"|trans }}
                </a>
            </div>
        </div>
    </form>

    {% if app.user.isU2FAuthEnabled %}
        <hr />
        <div class="switch-method">
            <strong>{{ 'two_factor.google.auth.switch.label'|trans }}</strong>
            <ul class="list-unstyled">
                <li><i class="fas fa-key"></i> <a href="?preferProvider=u2f_two_factor">{{ 'two_factor.google.auth.switch.link'|trans }}</a></li>
            </ul>
        </div>
    {% endif %}

{% endblock %}