{% extends "main.html.twig" %}

{% block title %}{{ 'users.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-wrap mt-n2">
                            <div class="flex-fill mt-2">
                                <form class="row row-cols-lg-auto g-1 align-items-center" method="get">
                                    <div class="col">
                                        <select name="type" class="form-select form-select-sm" data-trigger="submit">
                                            <option value="">{{ 'filter.all_types'|trans }}</option>
                                            {% for t in typeFilter.types %}
                                                <option value="{{ t.uuid }}" {% if typeFilter.currentType is not null and typeFilter.currentType.id == t.id %}selected{% endif %}>{{ t.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    {% if typeFilter.currentType is not null and typeFilter.currentType.alias == 'student' %}
                                        <div class="col">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="without-parents" data-trigger="submit" name="without_parents" value="✓" {% if withoutParents %}checked="checked"{% endif %}>
                                                <label class="form-check-label" for="without-parents">{{ 'users.filter.without_parents'|trans }}</label>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="col">
                                        <select name="role" class="form-select form-select-sm" data-trigger="submit">
                                            <option value="">{{ 'filter.all_roles'|trans }}</option>
                                            {% for r in roleFilter.roles %}
                                                <option value="{{ r.uuid }}" {% if roleFilter.currentRole is not null and roleFilter.currentRole.id == r.id %}selected{% endif %}>{{ r.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col">
                                        <select name="grade" class="form-select form-select-sm" data-trigger="submit">
                                            <option value="">{{ 'filter.all_grades'|trans }}</option>
                                            {% for g in grades %}
                                                <option value="{{ g }}" {% if grade is not null and g == grade %}selected{% endif %}>{{ g }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col">
                                        <input type="text" value="{{ q }}" name="q" class="form-control form-control-sm" >
                                    </div>

                                    {% if q is not empty or typeFilter.currentType != null or roleFilter.currentRole != null or grade is not null%}
                                        <div class="col">
                                            <a href="{{ path('users') }}" class="btn btn-outline-primary btn-sm">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="ms-auto mt-2">
                                <a href="{{ path('kiosk_users') }}" class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-user-tie"></i> {{ 'users.kiosk.label'|trans }}
                                </a>
                                <a href="{{ path('import_users') }}" class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-upload"></i> {{ 'import.users.label'|trans }}
                                </a>
                                <a href="{{ path('users_trash') }}" class="btn btn-outline-danger btn-sm">
                                    <i class="fa fa-trash"></i> {{ 'users.trash.label'|trans }}
                                </a>

                                <a href="{{ path('add_user') }}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-plus"></i> {{ 'users.add.label'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-header" data-role="bulk-actions">
                        <form method="post" action="{{ path('users_bulk') }}" class="row row-cols-lg-auto g-1 align-items-center">
                            <input type="hidden" name="users" value="" data-role="bulk-values">

                            <div>
                                <span data-role="bulk-counter"></span>
                                {{ 'users.bulk.selected'|trans }}
                            </div>

                            <div class="col">
                                <select name="action" class="form-select form-select-sm">
                                    <option value="">{{ 'users.bulk.actions.select'|trans }}</option>
                                    {% for key, action in bulkActions %}
                                        <option value="{{ key }}">{{ action|trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <select name="role" class="form-select form-select-sm">
                                    <option value="">{{ 'users.bulk.user_role.select'|trans }}</option>
                                    {% for role in roleFilter.roles %}
                                        <option value="{{ role.uuid }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col">
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-striped card-table">
                            <colgroup>
                                <col class="column-sm">
                                <col class="column-sm">
                                <col>
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-sm">
                                <col>
                                <col class="column-sm">
                            </colgroup>

                            <thead>
                            <tr>
                                <th><input type="checkbox" class="form-check-input" data-role="bulk-all"></th>
                                <th></th>
                                <th>{{ 'label.username'|trans }}</th>
                                <th>{{ 'label.firstname'|trans }}</th>
                                <th>{{ 'label.lastname'|trans }}</th>
                                <th>{{ 'label.user_roles'|trans }}</th>
                                <th>{{ 'users.type.label'|trans }}</th>
                                <th>{{ 'users.linked.label'|trans }}</th>
                                <th> </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}
                                <tr class="{% if loop.index0 % 2 == 0 %}odd{% endif %}">
                                    <td class="align-middle">
                                        <input type="checkbox" class="form-check-input" value="{{ user.uuid }}" data-role="bulk-item">
                                    </td>
                                    <td class="align-middle">
                                        <span class="badge text-bg-primary" title="{{ user.type.name }}">
                                            {{ user.type.name|first }}
                                        </span>
                                    </td>

                                    <td class="align-middle">
                                        {{ user.username }}

                                        {% if not user.active %}
                                            <span class="badge text-bg-danger">{{ 'label.not_active'|trans }}</span>
                                        {% endif %}

                                        {% if user.emailConfirmation is not null %}
                                            <span class="badge text-bg-warning">{{ 'label.pending_email_confirmation'|trans }}</span>
                                        {% endif %}

                                        {% if not user.isProvisioned %}
                                            <span class="badge text-bg-warning">{{ 'label.not_provisioned'|trans }}</span>
                                        {% endif %}

                                        {% if user.mustChangePassword %}
                                            <span class="badge text-bg-warning">{{ 'label.must_change_password'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ user.firstname }}</td>
                                    <td class="align-middle">{{ user.lastname }}</td>
                                    <td class="align-middle">
                                        <ul class="list-unstyled">
                                            {% for role in user.userRoles %}
                                                <li title="{{ role.description }}">{{ role.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="align-middle">
                                        {% if user.userPrincipalName is defined %}
                                            <i class="far fa-address-book" title="{{ 'users.type.ad'|trans }}"></i>
                                        {% else %}
                                            <i class="fa fa-cloud" title="{{ 'users.type.cloud'|trans }}"></i>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if user.linkedStudents|length > 0 %}
                                            <ul class="list-unstyled">
                                            {% for linked_user in user.linkedStudents %}
                                                <li>
                                                    <span class="badge text-bg-secondary" title="{{ 'label.student'|trans }}">{{ 'label.student'|trans|first }}</span>
                                                    <a href="{{ path('edit_user', { uuid: linked_user.uuid }) }}">{{ linked_user|user }}</a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% if user.parents|length > 0 %}
                                            <ul class="list-unstyled">
                                                {% for parent_user in user.parents %}
                                                    <li>
                                                        <span class="badge text-bg-secondary" title="{{ 'label.parent'|trans }}">{{ 'label.parent'|trans|first }}</span>
                                                        <a href="{{ path('edit_user', { uuid: parent_user.uuid }) }}">{{ parent_user|user }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>



                                    <td class="align-middle">
                                        <form method="post" action="{{ path('remove_user', { uuid: user.uuid }) }}">
                                            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token(csrf_id) }}">

                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path('edit_user', { uuid: user.uuid }) }}" class="dropdown-item">
                                                            <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                        </a>

                                                        <a href="{{ path('show_attributes', { uuid: user.uuid }) }}" class="dropdown-item">
                                                            <i class="fa fa-user-tag"></i> {{ 'users.attributes.label'|trans }}
                                                        </a>

                                                        <button type="submit" class="dropdown-item text-danger">
                                                            <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                        </button>

                                                        <div class="dropdown-divider"></div>
                                                    {% endif %}

                                                    {% if is_granted('ROLE_ADMIN') and user.type.alias == 'student' %}
                                                        <a href="{{ path('add_registration_code', { student: user.uuid.toString }) }}" class="dropdown-item">
                                                            <i class="fas fa-qrcode"></i> {{ 'codes.add.label'|trans }}
                                                        </a>
                                                    {% endif %}

                                                    {% if is_granted('ROLE_PASSWORD_MANAGER') %}
                                                        {% if user.userPrincipalName is defined %}
                                                            <a href="{{ path('reset_password_ad', { uuid: user.uuid }) }}" class="dropdown-item">
                                                                <i class="fa fa-key"></i> {{ 'users.reset_pw.label'|trans }}
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ path('reset_password', { uuid: user.uuid }) }}" class="dropdown-item">
                                                                <i class="fa fa-key"></i> {{ 'users.reset_pw.label'|trans }}
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                                                        <a href="{{ path('dashboard') }}?_switch_user={{ user.username }}" class="dropdown-item">
                                                            <i class="fas fa-sign-in-alt"></i> {{ 'profile.switch.label'|trans }}
                                                        </a>
                                                    {% endif %}

                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path('user_logout_everywhere', { uuid: user.uuid }) }}" class="dropdown-item">
                                                            <i class="fa fa-sign-out-alt"></i> {{ 'sessions.logout_everywhere.label_short'|trans }}
                                                        </a>

                                                        {% if user.emailConfirmation is not null %}
                                                            <a href="{{ path('show_email_confirmation', { token: user.emailConfirmation.token}) }}" class="dropdown-item">
                                                                <i class="fas fa-envelope"></i> {{ 'users.email_confirmation.label'|trans }}
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <div class="flex-fill align-self-center">
                                {{ 'users.count'|trans({'%count%': count}) }}
                            </div>

                            <div class="ms-auto">
                                {% include '@Common/includes/pagination.html.twig' with {
                                    currentFilters: {
                                        q: q,
                                        grade: grade,
                                        type: (typeFilter.currentType ? typeFilter.currentType.uuid.toString() : null),
                                        role: (roleFilter.currentRole ? roleFilter.currentRole.uuid.toString() : null),
                                        no_parents: (withoutParents == '✓' ? '✓' : null)
                                    },
                                    currentPage: page,
                                    paginationPath: 'users',
                                    lastPage: pages,
                                    showAlwaysFirstAndLast: true
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock%}

{% block post_javascript %}
    <script src="{{ asset('build/bulk.js') }}"></script>
{% endblock %}