{% extends "main.html.twig" %}

{% block title %}{{ 'users.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered card-table">
                            <colgroup>
                                <col>
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-sm">
                                <col class="column-180">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.username'|trans }}</th>
                                <th>{{ 'label.firstname'|trans }}</th>
                                <th>{{ 'label.lastname'|trans }}</th>
                                <th>{{ 'label.user_type'|trans }}</th>
                                <th>{{ 'label.user_roles'|trans }}</th>
                                <th>{{ 'users.type.label'|trans }}</th>
                                <th>{{ 'actions.label'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.username }}

                                        {% if not user.active %}
                                            <span class="badge badge-danger">{{ 'label.not_active'|trans }}</span>
                                        {% endif %}

                                        {% if user.emailConfirmationPending %}
                                            <span class="badge badge-warning">{{ 'label.pending_email_confirmation'|trans }}</span>
                                        {% endif %}

                                        {% if not user.isProvisioned %}
                                            <span class="badge badge-warning">{{ 'label.not_provisioned'|trans }}</span>
                                        {% endif %}

                                        {% if user.mustChangePassword %}
                                            <span class="badge badge-warning">{{ 'label.must_change_password'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.type.name }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for role in user.userRoles %}
                                                <li title="{{ role.description }}">{{ role.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        {% if user.userPrincipalName is defined %}
                                            <i class="far fa-address-book" title="{{ 'users.type.ad'|trans }}"></i>
                                        {% else %}
                                            <i class="fa fa-cloud" title="{{ 'users.type.cloud'|trans }}"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form method="post" action="{{ path('remove_user', { uuid: user.uuid }) }}">
                                            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token(csrf_id) }}">

                                            <a href="{{ path('edit_user', { uuid: user.uuid }) }}" class="btn btn-sm btn-primary" title="{{ 'actions.edit'|trans }}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a href="{{ path('show_attributes', { uuid: user.uuid }) }}" class="btn btn-sm btn-primary" title="{{ 'users.attributes.label'|trans }}">
                                                <i class="fa fa-user-tag"></i>
                                            </a>

                                            <button type="submit" class="btn btn-sm btn-danger" title="{{ 'actions.remove'|trans }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include '@Common/includes/pagination.html.twig' with {
                    currentFilters: {
                        q: q,
                        type: (typeFilter.currentType ? typeFilter.currentType.uuid : null),
                        role: (roleFilter.currentRole ? roleFilter.currentRole.uuid : null)
                    },
                    currentPage: page,
                    paginationPath: 'users',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_user') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'users.add.label'|trans }}
                        </a>
                        <a href="{{ path('kiosk_users') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-user-tie"></i> {{ 'users.kiosk.label'|trans }}
                        </a>
                        <a href="{{ path('import_users') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-upload"></i> {{ 'import.users.label'|trans }}
                        </a>
                        <a href="{{ path('users_trash') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-trash"></i> {{ 'users.trash.label'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form method="get">
                            <div class="form-group">
                                <select name="type" class="form-control" data-choice="true" data-trigger="submit">
                                    <option value="">{{ 'filter.all_types'|trans }}</option>
                                    {% for t in typeFilter.types %}
                                        <option value="{{ t.uuid }}" {% if typeFilter.currentType is not null and typeFilter.currentType.id == t.id %}selected{% endif %}>{{ t.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <select name="role" class="form-control" data-choice="true" data-trigger="submit">
                                    <option value="">{{ 'filter.all_roles'|trans }}</option>
                                    {% for r in roleFilter.roles %}
                                        <option value="{{ r.uuid }}" {% if roleFilter.currentRole is not null and roleFilter.currentRole.id == r.id %}selected{% endif %}>{{ r.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group">
                                <input type="text" value="{{ q }}" name="q" class="form-control" >

                                <span class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit" title="{{ 'search.label'|trans }}">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('users') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{ 'users.statistics.label'|trans }}</div>

                    <table class="table table-bordered card-table">
                        <colgroup>
                            <col>
                            <col class="column-sm">
                        </colgroup>

                        <tbody>
                        {% for statistic in statistics %}
                            <tr>
                                <td class="align-middle">{{ statistic.type.name }}</td>
                                <td class="align-middle text-right">{{ statistic.count }}</td>
                            </tr>
                        {% endfor %}
                            <tr class="font-weight-bold">
                                <td class="align-middle">{{ 'users.statistics.total'|trans }}</th>
                                <td class="align-middle text-right">{{ count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock%}