{% extends "main.html.twig" %}

{% block title %}{{ 'users.trash.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'users.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover card-table">
                            <colgroup>
                                <col>
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-180">
                                <col class="column-sm">
                                <col class="column-180">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.username'|trans }}</th>
                                <th>{{ 'label.firstname'|trans }}</th>
                                <th>{{ 'label.lastname'|trans }}</th>
                                <th>{{ 'label.user_type'|trans }}</th>
                                <th>{{ 'label.user_roles'|trans }}</th>
                                <th>{{ 'users.type.label'|trans }}</th>
                                <th>{{ 'actions.label'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="align-middle">
                                        {{ user.username }}

                                        {% if not user.active %}
                                            <span class="badge text-bg-danger">{{ 'label.not_active'|trans }}</span>
                                        {% endif %}

                                        {% if user.emailConfirmationPending %}
                                            <span class="badge text-bg-warning">{{ 'label.pending_email_confirmation'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ user.firstname }}</td>
                                    <td class="align-middle">{{ user.lastname }}</td>
                                    <td class="align-middle">{{ user.type.name }}</td>
                                    <td class="align-middle">
                                        <ul class="list-unstyled">
                                            {% for role in user.userRoles %}
                                                <li title="{{ role.description }}">{{ role.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="align-middle">
                                        {% if user.userPrincipalName is defined %}
                                            <i class="far fa-address-book" title="{{ 'users.type.ad'|trans }}"></i>
                                        {% else %}
                                            <i class="fa fa-cloud" title="{{ 'users.type.cloud'|trans }}"></i>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <form method="post" action="{{ path('restore_user', { uuid: user.uuid }) }}">
                                            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token(csrf_id) }}">

                                            <button type="submit" class="btn btn-primary btn-sm" title="{{ 'actions.restore'|trans }}">
                                                <i class="fa fa-trash-restore"></i>
                                            </button>

                                            <a href="{{ path('remove_user', { uuid: user.uuid }) }}" class="btn btn-sm btn-danger" title="{{ 'users.trash.remove'|trans }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include '@Common/includes/pagination.html.twig' with {
                    currentFilters: {
                        q: q,
                        grade: grade,
                        type: (typeFilter.currentType ? typeFilter.currentType.uuid : null),
                        role: (roleFilter.currentRole ? roleFilter.currentRole.uuid : null)
                    },
                    currentPage: page,
                    paginationPath: 'users_trash',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('empty_users_trash') }}" class="list-group-item list-group-item-action list-group-item-danger">
                            <i class="fas fa-trash"></i> {{ 'users.trash.remove_all.label'|trans }}
                        </a>
                        <a href="{{ path('users') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form method="get">
                            <div class="mb-3">
                                <select name="type" class="form-control" data-choice="true" data-trigger="submit">
                                    <option value="">{{ 'filter.all_types'|trans }}</option>
                                    {% for t in typeFilter.types %}
                                        <option value="{{ t.uuid }}" {% if typeFilter.currentType is not null and typeFilter.currentType.id == t.id %}selected{% endif %}>{{ t.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <select name="role" class="form-control" data-choice="true" data-trigger="submit">
                                    <option value="">{{ 'filter.all_roles'|trans }}</option>
                                    {% for r in roleFilter.roles %}
                                        <option value="{{ r.uuid }}" {% if roleFilter.currentRole is not null and roleFilter.currentRole.id == r.id %}selected{% endif %}>{{ r.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <select name="grade" class="form-control" data-choice="true" data-trigger="submit">
                                    <option value="">{{ 'filter.all_grades'|trans }}</option>
                                    {% for g in grades %}
                                        <option value="{{ g }}" {% if grade is not null and g == grade %}selected{% endif %}>{{ g }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group">
                                <input type="text" value="{{ q }}" name="q" class="form-control" >

                                <button class="btn btn-outline-primary" type="submit" title="{{ 'search.label'|trans }}">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('users_trash') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}</h5>

                        <p>{{ 'users.trash.info'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}