{% apply inky_to_html|inline_css(source('@build/email.css')) %}
    <spacer size="16"></spacer>

    <container>

        <row class="header">
            <columns>

                <spacer size="16"></spacer>

                <h4 class="text-center">{{ config.name }}</h4>
            </columns>
        </row>
        <row>
            <columns>
                <spacer size="16"></spacer>

                <h1 class="text-center">{{ 'reset_password.title'|trans({}, 'mail') }}</h1>

                <spacer size="16"></spacer>

                <p class="text-center">
                    {{ 'reset_password.message'|trans({'%username%': username }, 'mail') }}
                </p>
                <a class="large expand" href="{{ link }}">
                    {{ 'reset_password.button'|trans({}, 'mail') }}
                </a>

                <hr/>

                <p>
                    <small>{{ 'reset_password.expiry'|trans({'%date%': expiry_date|format_datetime}, 'mail') }}</small>
                </p>
            </columns>
        </row>
    </container>
{% endapply %}