{% extends "main.html.twig" %}

{% block title %}{{ 'codes.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered card-table">
                            <colgroup>
                                <col class="column-lg" >
                                <col>
                                <col class="column-md" >
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.code'|trans }}</th>
                                <th>{{ 'label.student'|trans }}</th>
                                <th>{{ 'label.user'|trans }}</th>
                                <th>{{ 'actions.label'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for code in codes %}
                                <tr>
                                    <td class="align-middle">
                                        {{ code.code }}

                                        {% if code.redeemingUser is not null %}
                                            <span class="badge badge-success">{{ 'codes.redeemed'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {{ code.student|user }}
                                    </td>
                                    <td class="align-middle">
                                        {% if code.redeemingUser is not null %}
                                            <a href="{{ path('edit_user', { uuid: code.redeemingUser.uuid.toString }) }}">
                                                {{ code.redeemingUser|user }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ path('edit_registration_code', { uuid: code.uuid }) }}" class="btn btn-sm btn-primary" title="{{ 'actions.edit'|trans }}">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="{{ path('remove_registration_code', { uuid: code.uuid }) }}" class="btn btn-sm btn-danger" title="{{ 'actions.remove'|trans }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include '@Common/includes/pagination.html.twig' with {
                    currentFilters: {
                        q: query,
                        grade: grade
                    },
                    currentPage: page,
                    paginationPath: 'registration_codes',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_registration_code') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'codes.add.label'|trans }}
                        </a>
                        <a href="{{ path('add_registration_code_bulk') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'codes.bulk.label'|trans }}
                        </a>
                        <a href="{{ path('import_registration_codes') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-upload"></i> {{ 'import.codes.label'|trans }}
                        </a>
                        <a href="{{ path('export_codes', { grade: grade }) }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-download"></i> {{ 'codes.export.label'|trans }}
                        </a>
                        <a href="{{ path('remove_redeemed_codes') }}" class="list-group-item list-group-item-action list-group-item-danger">
                            <i class="fas fa-trash"></i> {{ 'codes.remove_redeemed.label'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form method="get">
                            <div class="form-group">
                                <select name="grade" class="form-control" data-choice="true" data-trigger="submit">
                                    <option value="">{{ 'filter.all_grades'|trans }}</option>
                                    {% for g in grades %}
                                        <option value="{{ g }}" {% if grade is not null and g == grade %}selected{% endif %}>{{ g }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group mb-0">
                                <div class="input-group">
                                    <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="{{ 'codes.query'|trans }}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-outline-primary btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('registration_codes') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}