{% extends "main.html.twig" %}

{% block title %}{{ 'codes.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-wrap mt-n2">
                            <div class="flex-fill mt-2">
                                <form class="row row-cols-lg-auto g-1 align-items-center" method="get">
                                    <div class="col">
                                        <select name="grade" class="form-select form-select-sm" data-trigger="submit">
                                            <option value="">{{ 'filter.all_grades'|trans }}</option>
                                            {% for g in grades %}
                                                <option value="{{ g }}" {% if grade is not null and g == grade %}selected{% endif %}>{{ g }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col">
                                        <input type="text" name="q" value="{{ query }}" class="form-control form-control-sm" placeholder="{{ 'codes.query'|trans }}">
                                    </div>

                                    {% if query is not empty or grade is not empty %}
                                        <div class="col">
                                            <a href="{{ path('registration_codes') }}" class="btn btn-outline-primary btn-sm">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="ms-auto mt-2">
                                <a href="{{ path('export_codes', { grade: grade }) }}" class="btn btn-outline-primary btn-sm">
                                    <i class="fa fa-download"></i> {{ 'codes.export.label'|trans }}
                                </a>
                                <a href="{{ path('remove_redeemed_codes') }}" class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash"></i> {{ 'codes.remove_redeemed.label'|trans }}
                                </a>

                                <div class="btn-group">
                                    <a href="{{ path('add_registration_code') }}" class="btn btn-primary btn-sm" type="button">
                                        <i class="fas fa-plus"></i> {{ 'codes.add.label'|trans }}
                                    </a>
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ path('add_registration_code_bulk') }}"><i class="fas fa-plus"></i> {{ 'codes.bulk.label'|trans }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('add_registration_code_bulk_for_students_without_parent') }}"><i class="fas fa-plus"></i> {{ 'codes.bulk_noparents.label'|trans }}</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table">
                            <colgroup>
                                <col class="column-lg" >
                                <col>
                                <col class="column-md">
                                <col class="column-sm" >
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.code'|trans }}</th>
                                <th>{{ 'label.student'|trans }}</th>
                                <th>{{ 'label.user'|trans }}</th>
                                <th>{{ 'label.enabled_from'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for code in codes %}
                                <tr>
                                    <td class="align-middle">
                                        {{ code.code }}

                                        {% if code.redeemingUser is not null %}
                                            <span class="badge text-bg-success">{{ 'codes.redeemed'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ path('edit_user', { uuid: code.student.uuid.toString }) }}">
                                            {{ code.student|user }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        {% if code.redeemingUser is not null %}
                                            <a href="{{ path('edit_user', { uuid: code.redeemingUser.uuid.toString }) }}">
                                                {{ code.redeemingUser|user }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if code.validFrom is not null %}
                                            {{ code.validFrom|format_date }}
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('edit_registration_code', { uuid: code.uuid }) }}" class="dropdown-item">
                                                    <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                </a>

                                                <a href="{{ path('remove_registration_code', { uuid: code.uuid }) }}" class="dropdown-item text-danger">
                                                    <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <div class="flex-fill align-self-center"></div>
                            <div class="ms-auto">
                                {% include '@Common/includes/pagination.html.twig' with {
                                    currentFilters: {
                                        q: query,
                                        grade: grade
                                    },
                                    currentPage: page,
                                    paginationPath: 'registration_codes',
                                    lastPage: pages,
                                    showAlwaysFirstAndLast: true
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock%}